*{
    font-family: montserrat classic;
}


/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #e2e3d5;
    line-height: 1.6;
    color: #ffffff;
    margin: 0;
    padding: 0;
}



.navigation {
    background-color: #26503c;
    color: #fbfbfb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 15vh; /* unidade de medida */ 
    
}

nav ul li {
    display: inline;
    margin-right: 20px;
    border-bottom: 2px solid #e0daf7;
    
}

.navigation a:hover {
    color: #10100f;
}


.atslog {
    width: 200px;
    height: 200px;
}


h1 {
    font-size: 2rem;
    color: black;
    text-align: center;
}

h2 {
    text-align: center;
    color: black;
}


h3 {
    color: black;
}

p {
    color: black;
}

nav ul {
    list-style: none;
  
}

nav ul li {
    display: inline;
    margin-right: 20px;
 
}


/* menu */
nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;

}


.banner{
    height: 10vh;
    background-image: url(imagens/banner.jpg);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #26503c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h3{
    font-size: 2em;
    color: #ffffff;
}

.banner h3 span{
    color: #840943;
}

section {
    padding: 10px;
   
}


.sobre {
    text-align: center;
    text-align: justify;
    display: grid;
    background-color: #26503c;
    
}

.paras {
    border: 1px solid white;
    padding: 30px;
    margin-left: 180px;
    margin-right: 180px;
    
}

p {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    
    
}


.habilidade{
    
    background-image: url(imagens/banner.jpg);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e3d5;
    height: 20px;
}

.habilidade h3{
    font-size: 2em;
    color: #840943;
}
 
#skill {
    
    text-align: center;
}

#skill img {
    border: 1px solid #26503c;
    padding: 8px;
}





.portifolio {
    height: 20px;
    background-image: url(imagens/banner.jpg);
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #26503c;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.portifolio h3 {
    font-size: 2em;
    color: #840943;
}

#portifoliopro {
    background-color: #26503c;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}



.projeto {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
   
    
}



.projeto img {
    width: 600px;
    border: 1px solid #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px #a5acb1;
    background-color: #000000;
    


}

.projeto img:hover {
    transform: scale(1.1);
    transition: 1s;
}

#contato {
    background-color: #e2e3d5;
    text-align: center;
   
}

#contato p {
    color: #000000;
}



footer {
    background-color: #26503c;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

.pfooter {
    color: #ffffff;
}
